body {
  background-color:darkgray;
  font-family: verdana, sans-serif;
  transition: background-color .5s;
}

header {
  background-color:darkred;
}

footer{
  background-color:darkolivegreen;
}

h1, h3 {
  font-family:'Franklin Gothic Medium', sans-serif;
}

h2{
  font-family: gill sand, sans-serif;
  color:darkgoldenrod;
}
.sire-footer {
  background-image: linear-gradient(#cec8ff, lightgrey);
  padding: 20px 0;
}

.jumbotron{
  margin: 0px;
  padding:30px;
  background-image: linear-gradient(to right, rgb(46, 9, 9), rgba(75, 52, 3, 0.733), rgb(51, 0, 0), rgba(0,0,0), rgba(52,0,0));
  color:blanchedalmond;
}

.row-content {
  padding: 50px 0;
  border-bottom:1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: teal;
}

.tab-content {
  border: 1px solid grey;
  border-top:none;
  padding:10px;
}

#logo {
  padding:450px, 12px;
}

html{
  background-color: rgb(15, 15, 15);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
